{% extends  "base.html" %}
{% block content %}
   <div class="wrapper-content">
    <div class="wrapper-content__header"></div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_175"><div class="block-bg"></div><div class="container"><div class="header-with-text ">
    <div class="row">
        <div class="col-12">
            <div class="text-block__title">
                <h1 class="text-center">password reset</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-block__description">
                <p class="text-center">Reset your password by entering your registered email</p>
            </div>
        </div>
    </div>
</div></div></div>
<div id="block_104"><div class="block-bg"></div><div class="container-fluid"><div class="reset-password-form">
    <div class="row reset-password-form__alignment">
        <div class="col-lg-4">
            <div class="component_card">
                <div class="card">
                    <form method="post" action="">
                        <div class="component_form_group">
                            <div class="">
                                                                                                <div class="form-group">
                                    <label for="email" class="control-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="ResetPasswordForm[email]">
                                </div>
                            </div>
                            <input type="hidden" name="_csrf" value="HfKzcd0RsNw9Qht7iKze1898wFb2BME7opoSxw6ZrdQvvtcG73WCvQwpc0LY9fOkgAqWDJ8w7EmSwmqrP9TEsQ==">
                            <div class="component_button_submit">
                                <div class="">
                                    <button type="submit" class="btn btn-block btn-big-primary">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div></div></div>
    </div>

{% endblock content %}
